# Virtual environment
venv/
__pycache__/

# Compiled binaries
navier_stokes.exe
*.o
*.out
*.exe
*.vtk

# Output and logs
output/
input/
simulation_results.zip

# System files
.DS_Store
Thumbs.db

#testing files
testing.txt
input_params.txt
simulation_results.zip
.zip
flowchart.md
input.stl