# Virtual environment
venv/
__pycache__/

# Compiled binaries
navier_stokes.exe
*.o
*.out

# Output and logs
output/
simulation_results.zip

# System files
.DS_Store
Thumbs.db

#testing files
testing.txt
input_params.txt
simulation_results.zip
.zip
navier_stokes_3d.cpp
flowchart.md